#wrap
{
	width:728px;
	border-width:3px;
  	border-style:solid;
  	border-color:#6E6E6E;
  	background-color:#F2F2F2;
	margin-left: auto ;
  	margin-right: auto ;
  	height:750px;
  	font-family:"Verdana";
}

 #content
 {
 	margin-top:50px;
 }
 
 #register
 {
 	margin-top: 50px;
 }
 
 #registertable
 {
 	text-align:right;
 }
fieldset
{
	border:1;
	border-color:#848484;
	width: 310px;
}

legend
{
	font-size: 20px;
}

.right
{
	text-align:right;
}

.center
{
	text-align:center;
}

.middle
{
	margin-left: auto ;
  	margin-right: auto ;
}

h1
{
	text-align:center;
}
#passwordAlert
{
	color:red;
	text-align:center;
}

#transaction
{
	border: 1px solid black;
}