<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SouthBarkCityBank</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>servlets.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>servlets.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OTPController</servlet-name>
    <servlet-class>servlets.OTPController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewTransactions</servlet-name>
    <servlet-class>servlets.ViewTransactions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyTransaction</servlet-name>
    <servlet-class>servlets.VerifyTransaction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExecuteTransaction</servlet-name>
    <servlet-class>servlets.ExecuteTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OTPController</servlet-name>
    <url-pattern>/OTPController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewTransactions</servlet-name>
    <url-pattern>/ViewTransactions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyTransaction</servlet-name>
    <url-pattern>/VerifyTransaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteTransaction</servlet-name>
    <url-pattern>/ExecuteTransaction</url-pattern>
  </servlet-mapping>
</web-app>